apiVersion: v1
kind: ServiceAccount
metadata:
  name: aws-load-balancer-controller
  namespace: kube-system
  annotations:
    eks.amazonaws.com/role-arn: "arn:aws:iam::174508894676:oidc-provider/oidc.eks.us-east-1.amazonaws.com/id/E716D9BB7108397C49D8BD1630AF9983"
