body {
    background-color: #f2f0ef; 
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;           
    margin: 0;
}

.container {
    background-color: #cfa3c8; 
    padding: 30px 50px;
    border-radius: 15px;
    box-shadow: 3px 3px 15px rgba(0,0,0,0.2);
    text-align: center;
}

h1 {
    color: #3d1f2b;
}

a {
    display: block;
    margin-top: 20px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}
