replicaCount: 1

image:
  repository: sonarqube
  tag: "10.5-community"
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer
  port: 9000

ingress:
  enabled: false

resources:
  limits:
    cpu: 2
    memory: 2Gi
  requests:
    cpu: 1
    memory: 1Gi
