name: CD

on:
  workflow_call:
    inputs:
      env:
        required: true
        type: string
      cluster_name:
        required: true
        type: string
      image_tag:
        required: true
        type: string

jobs:
  cd:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Update kubeconfig
        run: aws eks update-kubeconfig --region us-east-1 --name ${{ inputs.cluster_name }}

      - name: Apply Argo CD Application
        run: kubectl apply -f k8s/hello-app-argocd.yaml -n argocd
