name: CD
on:
  workflow_call:
    inputs:
      eks_cluster:
        required: true
        type: string

jobs:
  quality-gate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: ArgoCD App & SonarQube
        run: |
          aws eks update-kubeconfig --region us-east-1 --name ${{ inputs.eks_cluster }}
          kubectl apply -f k8s/hello-app-argocd.yaml -n argocd
          # SonarQube Helm Install (as per your original script)
          helm upgrade --install sonarqube sonarqube/sonarqube --namespace sonarqube --create-namespace --wait