name: CI
on:
  workflow_call:
    inputs:
      eks_cluster:
        required: true
        type: string
      ecr_repo:
        required: true
        type: string

env:
  AWS_REGION: us-east-1
  APP_DIR: ./hello_app
  HELM_CHART_DIR: ./helm

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Docker Build & Push
        run: |
          aws ecr get-login-password --region ${{ env.AWS_REGION }} | docker login --username AWS --password-stdin ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com
          docker build -t ${{ inputs.ecr_repo }}:latest ${{ env.APP_DIR }}
          docker push ${{ inputs.ecr_repo }}:latest

      - name: Helm Deploy
        run: |
          aws eks update-kubeconfig --region ${{ env.AWS_REGION }} --name ${{ inputs.eks_cluster }}
          helm upgrade --install hello-app ${{ env.HELM_CHART_DIR }} \
            --set image.repository=${{ inputs.ecr_repo }} \
            --set image.tag=latest