name: Infra

on:
  workflow_call:
    inputs:
      env:
        required: true
        type: string
      action:
        required: true
        type: string

env:
  AWS_REGION: us-east-1
  TERRAFORM_DIR: ./terraform
  HELM_CHART_DIR: ./helm
  APP_DIR: ./hello_app
  K8S_DIR: ./k8s

jobs:
  # ===============================
  # Stage 1️⃣: Infra (Terraform)
  # ===============================
  infra:
    name: Provision Infrastructure
    runs-on: ubuntu-latest

    outputs:
      cluster_name: ${{ steps.set-eks-cluster.outputs.cluster_name }}
      ecr_repo: ${{ steps.set-ecr.outputs.ecr_repo }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.7
          terraform_wrapper: false

      - name: Terraform Init
        working-directory: ${{ env.TERRAFORM_DIR }}
        run: terraform init -input=false

      - name: Terraform Plan
        if: inputs.action == 'plan'
        working-directory: ${{ env.TERRAFORM_DIR }}
        run: terraform plan

      - name: Terraform Apply
        if: inputs.action == 'apply'
        working-directory: ${{ env.TERRAFORM_DIR }}
        run: terraform apply -auto-approve

      - name: Terraform Destroy
        if: inputs.action == 'destroy'
        working-directory: ${{ env.TERRAFORM_DIR }}
        run: terraform destroy -auto-approve

      # =========================
      # Outputs (only on apply)
      # =========================
      - name: Set ECR repo URL
        id: set-ecr
        if: inputs.action == 'apply'
        working-directory: ${{ env.TERRAFORM_DIR }}
        run: |
          ECR_REPO=$(terraform output -raw repository_url | tr -d '\n')
          echo "ecr_repo=$ECR_REPO" >> $GITHUB_OUTPUT

      - name: Set EKS Cluster name
        id: set-eks-cluster
        if: inputs.action == 'apply'
        working-directory: ${{ env.TERRAFORM_DIR }}
        run: |
          CLUSTER_NAME=$(terraform output -raw eks_cluster_name | tr -d '\n')
          echo "cluster_name=$CLUSTER_NAME" >> $GITHUB_OUTPUT
