name: Full DevOps Pipeline

on:
  workflow_dispatch:
    inputs:
      env:
        description: Environment
        required: true
        default: prod
        type: choice
        options:
          - prod
          - nonprod
      action:
        description: Terraform Action
        required: true
        default: apply
        type: choice
        options:
          - plan
          - apply
          - destroy

jobs:

  # =========================
  # 1️⃣ Infra
  # =========================
  infra:
    uses: ./.github/workflows/infra.yaml
    with:
      env: ${{ inputs.env }}
      action: ${{ inputs.action }}
    secrets: inherit

  # =========================
  # 2️⃣ Platform
  # =========================
  platform:
    needs: infra
    if: inputs.action == 'apply'
    uses: ./.github/workflows/platform.yaml
    with:
      env: ${{ inputs.env }}
      cluster_name: ${{ needs.infra.outputs.cluster_name }}
    secrets: inherit

  # =========================
  # 3️⃣ CI
  # =========================
  ci:
    needs: infra
    if: inputs.action == 'apply'
    uses: ./.github/workflows/CI.yaml
    with:
      env: ${{ inputs.env }}
      ecr_repo: ${{ needs.infra.outputs.ecr_repo }}
    secrets: inherit

  # =========================
  # 4️⃣ CD
  # =========================
  cd:
    needs: [platform, ci]
    if: inputs.action == 'apply'
    uses: ./.github/workflows/CD.yaml
    with:
      env: ${{ inputs.env }}
      cluster_name: ${{ needs.infra.outputs.cluster_name }}
      image_tag: ${{ needs.ci.outputs.image_tag }}
    secrets: inherit

  # =========================
  # 5️⃣ Monitoring
  # =========================
  monitoring:
    needs: platform
    if: inputs.action == 'apply'
    uses: ./.github/workflows/monitoring.yaml
    with:
      env: ${{ inputs.env }}
      cluster_name: ${{ needs.infra.outputs.cluster_name }}
    secrets: inherit
