name: CI/CD Pipeline Orchestrator

on:
  workflow_dispatch:
    inputs:
      env:
        description: 'Environment'
        required: true
        default: 'prod'
        type: choice
        options:
          - prod
          - nonprod
      action:
        description: 'Terraform Action'
        required: true
        default: 'apply'
        type: choice
        options:
          - plan
          - apply
          - destroy

jobs:
  infra:
    uses: ./.github/workflows/infra.yaml
    with:
      terraform_action: ${{ github.event.inputs.action }}
    secrets: inherit

  platform:
    if: github.event.inputs.action == 'apply'
    needs: infra
    uses: ./.github/workflows/platform.yaml
    with:
      eks_cluster: ${{ needs.infra.outputs.EKS_CLUSTER }}
    secrets: inherit

  ci:
    if: github.event.inputs.action == 'apply'
    needs: [infra, platform]
    uses: ./.github/workflows/CI.yaml
    with:
      eks_cluster: ${{ needs.infra.outputs.EKS_CLUSTER }}
      ecr_repo: ${{ needs.infra.outputs.ECR_REPO }}
    secrets: inherit

  cd:
    if: github.event.inputs.action == 'apply'
    needs: [infra, ci]
    uses: ./.github/workflows/CD.yaml
    with:
      eks_cluster: ${{ needs.infra.outputs.EKS_CLUSTER }}
    secrets: inherit

  monitoring:
    if: github.event.inputs.action == 'apply'
    needs: [infra, cd]
    uses: ./.github/workflows/monitoring.yaml
    with:
      eks_cluster: ${{ needs.infra.outputs.EKS_CLUSTER }}
    secrets: inherit