name: Monitoring
on:
  workflow_call:
    inputs:
      eks_cluster:
        required: true
        type: string

jobs:
  datadog-setup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Install Datadog
        run: |
          aws eks update-kubeconfig --region us-east-1 --name ${{ inputs.eks_cluster }}
          helm repo add datadog https://helm.datadoghq.com
          helm repo update
          helm upgrade --install datadog-operator datadog/datadog-operator --namespace datadog --create-namespace
          kubectl create secret generic datadog-secret --from-literal api-key=${{ secrets.DATADOG_API_KEY }} --namespace datadog --dry-run=client -o yaml | kubectl apply -f -