name: Platform

on:
  workflow_call:
    inputs:
      env:
        required: true
        type: string
      cluster_name:
        required: true
        type: string

env:
  AWS_REGION: us-east-1

jobs:
  platform:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - run: |
          curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash

      - run: |
          curl -LO https://storage.googleapis.com/kubernetes-release/release/stable.txt
          K8S_VERSION=$(cat stable.txt)
          curl -LO https://storage.googleapis.com/kubernetes-release/release/${K8S_VERSION}/bin/linux/amd64/kubectl
          chmod +x kubectl
          sudo mv kubectl /usr/local/bin/

      - run: |
          aws eks update-kubeconfig --region $AWS_REGION --name ${{ inputs.cluster_name }}

      - name: Install ArgoCD
        run: |
          helm repo add argo https://argoproj.github.io/argo-helm
          helm repo update
          helm upgrade --install argocd argo/argo-cd \
            --namespace argocd \
            --create-namespace

      - name: Install SonarQube
        run: |
          helm repo add sonarqube https://SonarSource.github.io/helm-chart-sonarqube
          helm repo update
          helm upgrade --install sonarqube sonarqube/sonarqube \
            --namespace sonarqube \
            --create-namespace \
            --set service.type=LoadBalancer
